{% if medicos %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome do Médico</th>
            <th scope="col">CRM</th>
        </tr>
    </thead>
    <tbody>
        {% for medico in medicos %}
        <tr>
            <td>{{ medico.id_medico }}</td>
            <td>{{ medico.nm_medico }}</td>
            <td>{{ medico.crm }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Nenhum médico encontrado.</p>
{% endif %}
