{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.nm_profissional|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.nm_empresa|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.nm_cliente|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.nm_empresa|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.nm_contato|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.tel_contato|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.dt_atendimento|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.intervalo|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.dt_fim_atendimento|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.servico_contratado|as_crispy_field }}
      </div> 
      <div class="form-group col-md-6 mb-0">
        {{ form.email|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.cidade|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.ds_endereco|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.deslocamento_ida|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.deslocamento_volta|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.upload|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.comentarios|as_crispy_field }}
      </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
{% endblock %}