{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h3 class="text-center mb-7">Cadastro de solicitações rotinas e protocolos</h3>
            <form method="post" enctype="multipart/form-data" id="form-cadastro">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.nm_analista.id_for_label }}">Nome Profissional</label>
                    {{ form.nm_analista|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.nm_medico.id_for_label }}">Nome Médico</label>
                    {{ form.nm_medico|add_class:"form-control select2" }}
                </div>
                    
                <div class="form-group">
                    <label for="{{ form.nm_hospital.id_for_label }}">Nome do Hospital</label>
                    {{ form.nm_hospital|add_class:"form-control" }}
                </div>
                <div class="form-group row">
                <div class="col-sm-3">
                    <label for="{{ form.tel_contato.id_for_label }}">Telefone de Contato</label>
                    {{ form.tel_contato|add_class:"form-control" }}
                </div>
                
                <div class="form-group">
                    <div class="col-sm-10">
                        <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email|add_class:"form-control" }}
                    <small id="emailHelp" class="form-text text-muted">Enviar email para o solicitante.</small>
                  </div>
                </div>
                  
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="{{ form.dt_atendimento.id_for_label }}">Data do Atendimento</label>
                        {{ form.dt_atendimento|add_class:"form-control" }}
                        <small id="emailHelp" class="form-text text-muted">Data da reunião.</small>
                    </div>
                </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5">
                    <label for="{{ form.servico_analisado.id_for_label }}">Tipo de Validação</label>
                    {{ form.servico_analisado|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                    <label for="{{ form.comentarios.id_for_label }}">Comentários</label>
                    {{ form.comentarios|add_class:"form-control" }}
                    </div>
                </div>
             </div>
             <div class="form-group row">
                <div class="form-check form-check-inline">
                    <div class="col-auto">
                  {{ form.utiliza_rotina_especial.label_tag }}
                  {{ form.utiliza_rotina_especial }}
                  <label class="form-check-label" for="{{ form.utiliza_rotina_especial.id_for_label }}">
                  </label>
                </div>
              </div>
              <div class="form-check form-check-inline">
                <div class="col-auto">
                  {{ form.utiliza_rotina.label_tag }}
                  {{ form.utiliza_rotina }}
                  <label class="form-check-label" for="{{ form.utiliza_rotina.id_for_label }}">
                  </label>
                </div>
              </div>
              <div class="form-check form-check-inline">
                <div class="col-auto">
                  {{ form.utiliza_protocolo.label_tag }}
                  {{ form.utiliza_protocolo }}
                  <label class="form-check-label" for="{{ form.utiliza_protocolo.id_for_label }}">
                  </label>
                </div>
              </div>
              </div>
                <div class="form-group">
                    <div class="col-sm-14">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile02" name="upload" multiple onchange="updateSelectedFiles()">
                        <label class="custom-file-label" for="inputGroupFile02">Selecione um ou mais arquivos</label>
                    </div>
                </div>
                </div>
                <div class="text-left">
                <ul class="list-group mt-3" id="selected-files">
                </ul>  
            </div>
              
                <div class="form-group text-center">
                    <button type="submit" formaction="{% url 'rat_s:generate_pdf' %}" class="btn btn-primary">Gerar PDF</button>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function() {
    $('form.nm_medico').select2();
  });
</script>
<script>
function updateSelectedFiles() {
  var fileInput = document.getElementById("inputGroupFile02");
  var files = fileInput.files;
  var fileList = document.getElementById("selected-files");
  
  // Crie uma nova lista para armazenar os arquivos selecionados
  var newFileList = [];
  
  for (var i = 0; i < files.length; i++) {
    var file = files[i];
    
    // Verifique se o arquivo já está na lista existente antes de adicioná-lo
    if (!fileListContains(fileList, file.name)) {
      // Adicione o arquivo à nova lista
      newFileList.push(file);
      
      // Crie um novo elemento de lista para o arquivo e adicione-o ao DOM
      var listItem = document.createElement("li");
      listItem.textContent = file.name;
      fileList.appendChild(listItem);
    }
  }
  
  // Adicione os itens existentes à nova lista
  var existingItems = fileList.getElementsByTagName("li");
  for (var i = 0; i < existingItems.length; i++) {
    var item = existingItems[i];
    newFileList.push(item.textContent);
  }
  
  // Atualize o valor do campo de upload com a nova lista de arquivos selecionados
  fileInput.value = newFileList.join(",");
}

function fileListContains(fileList, fileName) {
  var items = fileList.getElementsByTagName("li");
  for (var i = 0; i < items.length; i++) {
    var item = items[i];
    if (item.textContent == fileName) {
      return true;
    }
  }
  return false;
}

  </script>
  
  <script>
    $(document).ready(function() {
        $('#id_dt_atendimento').mask('00/00/0000');
    });
</script>







  
  
  
  
  
    
{% endblock %}
