<ul id="nav-menu">
  <li><a href="#"><i class="fa fa-fw fa-rebel"></i><div class="nav-text">Menu Item that has a long label and wraps</div></a></li>
  <li><a href="#"><i class="fa fa-fw fa-rebel"></i><div class="nav-text">Menu Item</div></a></li>
  <li><a href="#"><i class="fa fa-fw fa-rebel"></i><div class="nav-text">Menu Item</div></a></li>
  <li><a href="#"><i class="fa fa-fw fa-rebel"></i><div class="nav-text">Menu Item</div></a></li>
  <li><a href="#"><i class="fa fa-fw fa-rebel"></i><div class="nav-text">Menu Item</div></a></li>
  <li><a href="#"><i class="fa fa-fw fa-rebel"></i>Menu Item</a></li>
  <li><a href="#"><i class="fa fa-fw fa-rebel"></i>Menu Item</a></li>
  <li><a href="#"><i class="fa fa-fw fa-rebel"></i>Menu Item</a></li>
</ul>
<div class="header">
  <a href="#"><i class="fa fa-navicon nav-icon"></i></a>
  <h1>Main Application Header</h1>

  <div class="usernav">
    <i class="fa fa-fw fa-user-circle-o user-icon"></i><span class="username">Wes</span>
    <ul id="usernav-menu" class="menu-items">
      <li><a href="#"><i class="fa fa-fw fa-rebel"></i>Menu Item</a></li>
      <li><a href="#"><i class="fa fa-fw fa-rebel"></i>Menu Item</a></li>
      <li><a href="#"><i class="fa fa-fw fa-rebel"></i>Menu Item</a></li>
    </ul>
  </div>

</div>
<!-- end HEADER -->

  <!--div class="breadcrumb align-self-center">
    <a href="#">Category</a>&nbsp;&gt;&nbsp;<a href="#">List Page</a>&nbsp;&gt;
  </div-->

  <div class="d-flex flex-row justify-content-between col-12" style="margin-top: 8px;">
    <div id="page-title" class="align-self-center">Page Title</div>

    <div class="align-self-center d-flex flex-nowrap">
      <a href="#" class="btn circle-button align-self-center"><i class="fa fa-question "></i></a><a href="#" class="btn  circle-button align-self-center"><i class="fa fa-ellipsis-v"></i></a>
    </div>
  </div>

<!-- end BREADCRUMB PAGE TITLE -->

<!--
  <div class="row">
    <div class="col-12">
      <div class="card card-block">
        <h4 class="card-title">Card Title</h4>
        <p class="card-text">Donec ipsum libero, pellentesque ut accumsan sit amet, porta vitae velit. Aenean id ante et ante congue interdum vitae ac nunc. Maecenas porta aliquam metus ac convallis. Morbi molestie posuere pulvinar. Curabitur non ligula ipsum, at laoreet
          ipsum.
        </p>

        <div class="row">
          <div class="col-sm-4"><label for="">Data Label</label>3-Column</div>
          <div class="col-sm-4"><label for="">Data Label</label>3-Column</div>
          <div class="col-sm-4"><label for="">Data Label</label>3-Column</div>
        </div>

        <div class="row">
          <div class="col-sm-3"><label for="">Data Label</label>4-Column</div>
          <div class="col-sm-3"><label for="">Data Label</label>4-Column</div>
          <div class="col-sm-3"><label for="">Data Label</label>4-Column</div>
          <div class="col-sm-3"><label for="">Data Label</label>4-Column</div>
        </div>

      </div>
    </div>
  </div>


</div> 

<!-- end MAIN -->
<div id="home-cards-container" class="d-flex flex-wrap justify-content-center align-items-stretch">
  <div id="card1" class="card home-card flex-fill">
    <h4 id="card1-title" class="card-title">Card 1</h4>
  </div>
  <div class="card home-card flex-fill">
    <h4 class="card-title">Card 2</h4>
  </div>
  <div class="card home-card flex-fill">
    <h4 class="card-title">Card 3</h4>
  </div>
  <div class="card home-card flex-fill">
    <h4 class="card-title">Card 4</h4>
  </div>
  <div class="card home-card flex-fill">
    <h4 class="card-title">Card 5</h4>
  </div>
  <div class="card home-card flex-fill">
    <h4 class="card-title">Card 6</h4>
  </div>
</div>
<style type="text/css">
  body {
  font-family: "Open Sans";
  background-color: #f5f5f5;
  margin: 0px 0px 20px 0px;
}

.card {
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  border-style:none;
 /* margin-bottom: 16px;*/
}

.home-card {
  min-width: 360px;
  max-width: 460px;
  height: 380px;
  margin:8px;
}

.card-title {
  font-weight: 100;
}

.main {
  position: relative;
  top: 56;
  left:0;
}

.header {
  width: 100%;
  height: 56px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.2);
  color: #333;
}

.header a {
  color: #578ebe;
}

.header a:hover {
  color: #f2f2f2;
}

.header h1 {
  font-size: 20px;
  font-weight: 100;
  margin: 18px 0px 0px 15px;
  float: left;
}

.nav-icon {
  margin: 0px;
  padding: 18px;
  float: left;
  height: 55px;
  width: 56px;
  font-size: 24px;
}

.nav-open {
  background-color: #333;
}
.nav-icon:hover {
  background-color: #f2f2f2;
  color: #333;
}

#nav-menu {
  width: 200px;
  position: fixed;
  top: 56px;
  left: -200px;
  height: 100%;
  padding:0px;
  background-color: #333;
  list-style:none;
  box-shadow: inset -5px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

#nav-menu li, .menu-items li {
  line-height: 1.5em;
}

.nav-text {
  display:block;
  margin-left:36px;
}

#nav-menu a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #ccc;
}

#nav-menu a:hover, #nav-menu a:hover i {
  background-color: #222;
}

#nav-menu i, .menu-items i {
  display:block;
  float: left;
  clear:left;
  width: 36px;
  margin-top: 4px;
}

.menu-items a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #578ebe;
}

.menu-items a:hover, .menu-items a:hover i {
  background-color: #eee;
  color: #333;
}

.user-icon {
  color: #333;
  font-size: 32px;
  line-height: 36px;
}

.username {
  margin-left: 8px;
  margin-right: 16px;
  line-height: 38px;
  float:right;
}

.usernav {
  float: right;
  height: 55px;
  padding: 11px;
  margin:0px;
}

.usernav:hover {
  background-color: #f2f2f2;
}

#usernav-menu {
  display:none;
  z-index: 1000;
  width: 200px;
  padding: 0px;
  position:fixed;
  top: 56px;
  margin-left: -100px;
  background-color: #fff;
  list-style:none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}


.breadcrumb {
  font-size: 12px;
  margin: 0px;
  border-radius: none;
  border-style: none;
  background-color: transparent !important;
}

.circle-button {
  background-color: white;
  border-radius: 50%;
  margin-left: 8px;
  width: 36px;
  height: 36px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.2)
}

.circle-button:hover {
  background-color: #e4e4e4;
}

#page-title {
  font-size: 2rem;
  font-weight: 100;
  display: block;
}

h2 { font-weight: 100; }

label {
  display: block;
  margin-top: 10px;
  font-weight: 700;
}

.switch-label {
  display: inline;
  margin-right: 10px;
}

.switch {
  float: right;
  display: inline-block;
}

a {
  color: #578ebe;
}

@media (min-width: 1200px){ /* DESKTOP */
  
  #home-cards-container {
    max-width: 1200px;
    margin: 0px auto;
  }
}

@media (max-width: 768px) { /* TABLET */
  #page-title {
    font-size: 1.6rem;
  }
}

@media (max-width: 576px) { /* MOBILE */
  .header h1 {
    font-size: 18px;
  }
  .username {
    display: none;
  }
}

@media (max-width: 400px) {
  #page-title {
    font-size: 1.3rem;
  }
}
</style>
<script>
function toggleNav() {

  if ($("#nav-menu").css("left") == "-200px") {
    $("#nav-menu").animate({
      left: "0px"
    }, 200);

    $(".main").animate({
      left: "200px"
    }, 200);

    $(".nav-icon").removeClass("fa-navicon");
    $(".nav-icon").addClass("fa-close").addClass("nav-open");

  } else {
    $("#nav-menu").animate({
      left: "-200px"
    }, 200);

    $(".main").animate({
      left: "0px"
    }, 200);

    $(".nav-icon").removeClass("fa-close").removeClass("nav-open");
    $(".nav-icon").addClass("fa-navicon");

  }

};

function toggleUsernav() {
  $("#usernav-menu").toggle();
};

$(".nav-icon").on("click", toggleNav);
$(".usernav").on("click", toggleUsernav);

$("[name='indeterminate']").bootstrapSwitch('onSwitchChange', showUnset);

$("#unset-button").on("click", function() {
  $("[name='indeterminate']").bootstrapSwitch("toggleIndeterminate");
  $(this).hide();
});

$("#unset-button").hide();

function showUnset() {
  $("#unset-button").show();
}
$(window).on('resize', function(){
      var win = $(this).outerWidth();
      $("#page-title").text("Viewport Width: "+win);
      var cardW = $("#card1").outerWidth();
      $("#card1-title").text("Card 1 (width =  "+cardW+"px)");
});

</script>  